*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #ffffff;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  background: #353637;
  min-height: 100px;
  height: 100px;
  border-bottom: #32a0c2 3px solid;
}

main {
  min-height: 400px;
  height: 400px;
  background: url('../img/headerbg.jpg') no-repeat center;
  background-color: #ffffff;
  background-size: cover;
}

section#newsletter {
  background-color: #353637;
  height: 100px;
}

section#about {
  background-color: #cccccc;
  height: 100px;
}

footer {
  background-color: #32a0c2;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
}

#header {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#branding {
  color: white;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0 20px;
}

div#showcase {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#showcase h1,
div#showcase p {
  text-align: center;
}